/* Footer styling */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #222;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #ddd;
}

/* Social media Link styling */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #007bff;
}

.social-link span {
  font-size: 1rem;
}

/* Responsive Design for smaller devices */
@media (max-width: 768px) {
  .footer p {
    font-size: 0.8rem;
  }

  .social-links {
    flex-direction: column;
    gap: 15px;
  }

  .social-link span {
    font-size: 0.9rem;
  }
}
